.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: fit-content;
  height: fit-content;
}

.loader .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: currentColor;
  transform: scale(0);
  animation: bounce 1s infinite cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  transform-origin: center;
}

.loader .dot:nth-child(1) {
  animation-delay: 0s;
}
.loader .dot:nth-child(2) {
  animation-delay: 0.15s;
}
.loader .dot:nth-child(3) {
  animation-delay: 0.3s;
}
.loader .dot:nth-child(4) {
  animation-delay: 0.45s;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}
